body {
    font-family: 'Source Code Pro', monospace;
    padding: 16px;
    margin: 0px;
}
a {
    color: #1d68cd;
    text-decoration: none;
}
p {
    margin-bottom: 32px;
}
h3 {
    border-top: 1px dotted #9dc0f0;
    border-left: 8px solid #9dc0f0;
    padding: 8px;
    margin-top: 32px;
    margin-bottom: 8px;
}
small {
    color: #888888;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 8px;
}
button {
  border: 2px solid #888888;
  background-color: transparent;
  border-radius: 8px;
  height: 32px;
  vertical-align: middle;
}
.todolium-input {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #808080;
  padding-bottom: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
}
.todolium-input:focus {
  outline: 0;
}
.todolium-task {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  width: auto;
  border-left: 8px solid #88cccc;
  padding: 8px;
  margin: 10px;
  line-height: 32px;
  height: 32px;
}

.todolium-task-todo {
  border-left: 8px solid #eecc88;
}
.todolium-task-done {
  border-left: 8px solid #88cc88;
}
.todolium-span-completion-info {
  display: inline-block;
  vertical-align: middle;
}
.todolium-span-duration {
  display: inline-block;
  border: 2px solid #333333;
  width: 8em;
  text-align: center;
  vertical-align: middle;
}
.todolium-span-duration-behind {
  display: inline-block;
  border: 2px solid #ff3333;
  width: 8em;
  text-align: center;
  vertical-align: middle;
  background-color: #ffeeee;
}
.todolium-span-task {
  display: inline-block;
  border-left: 1px solid #333333;
  vertical-align: middle;
  padding-left: 16px;
  padding-right: 16px;
}
